@import "ember-bootstrap/bootstrap";
@import "bootstrap-icons";

.sortable {
  &.sorted.asc:after { content: "↓"; }
  &.sorted.desc:after { content: "↑"; }

  &:hover:after { color: darkgrey; }
  &:hover:after { content: "↓"; }
  &.sorted.asc:hover:after { content: "↓↑"; }
  &.sorted.desc:hover:after { content: "↑"; color: lightgrey; }
}
