@import "ember-bootstrap/bootstrap";
@import "bootstrap-icons";

@import "./lexend-font";

/** general layout **/
.page-header {
  display: block;

  h1 {
    display: inline-block;
  }

  a {
    display: inline-block;
    float: right;
    margin-top: 1em;
    text-decoration: none;
  }

  a + a:before {
    content: " | ";
    float: right;
    font-weight: bold;
    color: grey;
  }
}

body {
  margin-bottom: 5em;
}

:root {
  --freddie-accent-color: lightgray; /* var(--bs-teal); */
  --bs-body-font-family: "Lexend Deca", sans-serif;
  --bs-body-font-weight: 300;
}

h1 > small {
  font-size: 1.25rem;
}

/** cards **/
.card-body {
  padding: 0;
  overflow: hidden;

  dt:first-letter {
    text-transform: capitalize;
  }

  .card-title {
    width: 100%;
    background: var(--freddie-accent-color);
    margin: 0;
    padding: 0.5rem 1rem;
  }

  /* sections */
  h6 {
    margin-top: 1em;
    padding-left: 0;
    font-weight: bold;
    width: 100%;
    border-bottom: solid 1px var(--freddie-accent-color);

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

/** Leaflet **/
.leaflet-container {
  width: 100%;
  min-height: 800px;
}

/** Pages **/

/*** products offerings ***/
.show-disabled-offering {
  text-decoration: line-through;
}
