@import "ember-bootstrap/bootstrap";
@import "bootstrap-icons";

:root {
  --freddie-accent-color: lightgray /* var(--bs-teal); */
}

.card-body {
  padding: 0;
  overflow: hidden;

  dt:first-letter {
    text-transform: capitalize;
  }

  .card-title {
    width: 100%;
    background: var(--freddie-accent-color);
    margin: 0;
    padding: 5px;
  }

  /* sections */
  h6 {
    margin-top: 1em;
    padding-left: 0;
    font-weight: bold;
    width: 100%;
    border-bottom: solid 1px var(--freddie-accent-color);

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
