<div class="card-body">
  {{#if (has-block "title")}}
    <h5 class="">{{yield to="title"}}</h5>
  {{/if}}
  <dl class="row">
    {{yield (hash
        Dt=(component "details-card/dt")
        Dd=(component "details-card/dd")
        Property=(component "details-card/property" resource=@resource))
        to="body"}}
  </dl>
</div>
