<ul class="list-group list-group-flish">{{!-- TODO: typo? --}}
  {{#each (get @resource @property) as |deliveryPlace|}}
    <li class="list-group-item">
      <Ux::Link @model={{deliveryPlace}} />
    </li>
  {{else}}
    None
  {{/each}}
</ul>

{{#if @editable}}
  <BsButton {{on "click" @startEditing}}>Edit</BsButton>
{{/if}}
