<ul class="list-group list-group-flish">
  {{#each (get @resource @property) as |productGroup|}}
    <li class="list-group-item">
      <Ux::Link @model={{productGroup}} />
    </li>
  {{else}}
    None
  {{/each}}
</ul>

{{#if @editable}}
  <BsButton {{on "click" @startEditing}}>Edit</BsButton>
{{/if}}