{{page-title "Index"}}
<div class="container">
  <div class="page-header">
    <h1>Accounts <small>as a list</small></h1>
  </div>

  <Ui::Table
    @content={{@model}}
    @fields="firstName lastName email"
    @autoSearch={{500}}
    @view={{this.view}}
  />
</div>
