{{page-title "Show"}}

<div class="container">
  <Ux::PageHeader @kind="show" @model={{@model}} />

  <Ux::DetailsCard @editable={{false}} @resource={{@model}} class="col-12">
    <:title>Details</:title>
    <:body as |C|>
      <C.Property @property="isEnabled" @label="public" />
      <C.Property @property="title" />
      <C.Property @property="sortIndex" />
    </:body>
  </Ux::DetailsCard>
</div>