{{page-title "Index"}}

<div class="container">
  <Ux::PageHeader @class="delivery-place" @kind="list" />

  <Ui::Table
    @content={{@model}}
    @fields="label deliveryKind.label:Delivery_kind postalAddress.streetAddress:Address_street postalAddress.locality:Address_village"
    @sortableFields="label deliveryKind.label"
    @links="delivery-places.edit:edit:pencil delivery-places.show:show:file-earmark-richtext"
    @rowLink="delivery-places.show"
    @view={{this.view}}
  />
</div>