{{page-title "Show"}}

<div class="container">
  <Ux::PageHeader @model={{@model}} @kind="show"/>

  <div class="row">
    <Ux::DetailsCard @editable={{false}} @resource={{@model}} class="col-12 col-md-8">
      <:title>Details</:title>
      <:body as |C|>
        <C.Property @property="deliveryKind" @label="Delivery kind" />
        <C.Property @property="postalAddress" @label="Address" />
        <C.Property @property="geoCoordinate" @label="Geo" />
      </:body>
    </Ux::DetailsCard>
  </div>
</div>
