{{page-title "Index"}}

<div class="container">
  <Ux::PageHeader @class="delivery-route" @kind="list" />

  <Ui::Table
    @content={{@model}}
    @fields="label:Name nextDeliveryDate:Next_delivery_date"
    @customFields="nextDeliveryDate"
    @sortableFields="label date"
    @links="delivery-routes.edit:edit:pencil delivery-routes.show:show:file-earmark-richtext"
    @rowLink="delivery-routes.show"
    @view={{this.view}}
  >
    <:data-cell as |cell|>
      <td>{{human-date cell.value}}</td>
    </:data-cell>
  </Ui::Table>
</div>
