{{page-title "Shop backoffice"}}

<BsNavbar @type="dark" class="bg-dark"  as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    <LinkTo @route="index" class="navbar-brand">
      Backoffice
    </LinkTo>
  </div>
  <navbar.content class="container">
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="index">Home</nav.link-to>
      </nav.item>
      <nav.dropdown as |dd|>
        <dd.toggle>Products <span class="caret"></span></dd.toggle>
        <dd.menu as |ddm|>
          <ddm.item>
            <ddm.link-to @route="product-groups">Product groups</ddm.link-to>
          </ddm.item>
          <ddm.item>
            <ddm.link-to @route="products">Products</ddm.link-to>
          </ddm.item>
        </dd.menu>
      </nav.dropdown>
      <nav.dropdown as |dd|>
        <dd.toggle>Deliveries <span class="caret"></span></dd.toggle>
        <dd.menu as |ddm|>
          <ddm.item>
            <ddm.link-to @route="delivery-places">Places</ddm.link-to>
          </ddm.item>
        </dd.menu>
      </nav.dropdown>
      <nav.item>
        <nav.link-to @route="accounts">Accounts</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

<div class="mt-4"></div>

{{outlet}}
