{{page-title "Shop backoffice"}}

<BsNavbar @type="dark" class="bg-dark"  as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    <LinkTo @route="index" class="navbar-brand">
      Backoffice
    </LinkTo>
  </div>
  <navbar.content class="container">
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="index">Home</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="product-groups">Product groups</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="products">Products</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

<div class="mt-4"></div>

{{outlet}}
